@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=PT+Sans&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-size: 20;
  color: #E3D0D3;
  background-color: #935143;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
  transition: all 250ms linear;
}

.column {
  float: left;
  height: 100%;
}

.half {
  background-color: #935143;
  height: 100vh;
  width: 50%;
  opacity: 0;
}

.left {
  left: 5vw;
}

.right {
  right: 5vw;
}

.loaded {
  opacity: 1;
  transition: all 300ms linear;
  z-index: 10;
}

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.title {
  margin: 0;
  position: absolute;
  max-width: 20%;
  top: 50%;
  left: 5%;
  -ms-transform: translate(-5%, -50%);
  transform: translate(-5%, -50%);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

.column p {
  font-size: 1.2em;
}

.fill {
  height: 100%;
  width: 100%;
  min-height: 100vh;;
  object-fit: cover;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: #4D3336;
  font-family: inherit;
  color: #E3D0D3
}

.title .btn {
  font-size: 1.6em;
}

.btn:hover {
  cursor: pointer;
}

.question-text {
  margin: 0;
  position: absolute;
  max-width: 40%;
  top: 50%;
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
}

input[type="radio"] {
  visibility:hidden;
}

.response {
  font-size: calc(.8em + .05vw);
  min-width: 8vw;
  margin-left: 1vw;
  display:inline-block;
  border:4px;
  background-color: #4D3336;
  color: #E3D0D3;
  padding: 5px;
  text-align: center;
}

#results {
  margin-top: 15vh;
  text-align: center;
}